$margin-default: 3%;
$border-radius-default: 25px;
$bubble-background-color: #e8f1f2;
$button-color: #f48f66;
$font-color-primary: #1d3557;
$gap-size: 50px;

body {
  background-image: url("./wallpaper.jpg");
  // Background image sourced from https://wallha.com/wallpaper/sky-blue-clouds-flowers-painting-663065
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  color: $bubble-background-color;
  width: 100vw;

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;

    h1 {
      font-size: 3rem;

      margin: $margin-default;
    }

    #userControlContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;

      #location {
        background-color: $bubble-background-color;
        color: $font-color-primary;
        border-radius: $border-radius-default;
        border: none;
        height: 100%;
        width: 300px;
        padding-left: 1rem;
        margin: 0px 5px 0px 5px;
        font-size: 1.5rem;
      }

      button {
        height: inherit;
        flex: 1;
        border-radius: 5px;
        margin: 0px 5px 0px 5px;
        padding: 3px 12px 3px 12px;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $button-color;
        img {
          width: 25px;
          height: auto;
          padding: 0;
          filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(136deg)
            brightness(112%) contrast(112%);
        }
      }
    }
  }
}

main {
  margin: $margin-default;
  margin-top: 0;
  flex: 1;
  display: grid;
  grid-template-columns: [first] 1fr [second] $gap-size [third] 1fr [fourth] $gap-size [fifth] 1fr [sixth];
  grid-template-rows: [first] 1fr [second] $gap-size [third] 1fr [fourth] $gap-size [fifth] 1fr [sixth];
  grid-template-areas:
    "primary primary primary . secondary"
    "primary primary primary . secondary"
    "primary primary primary . secondary"
    ". . . . secondary"
    "tertiary tertiary tertiary.  secondary";

  .bubble {
    background-color: $bubble-background-color;
    border-radius: $border-radius-default;
    box-shadow: 4px 4px 8px;
    opacity: 0.95;
  }

  #primaryWeather {
    grid-area: primary;
  }

  #secondaryWeather {
    grid-area: secondary;
  }

  #tertiaryWeather {
    grid-area: tertiary;
  }
}
