$content-max-width: 60vw;
$content-width: 90%;
$margin-default: 3%;
$padding-default: 2vw;
$border-radius-default: 25px;
$bubble-background-color: #e8f1f2;
$button-color: rgb(185, 69, 87);
$font-color-primary: #1d3557;
$gap-size: 40px;
$primary-font-weight: 400;
$secondary-font-weight: 300;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
// Font sourced from https://fonts.google.com/specimen/Roboto?thickness=2

html {
  max-height: 100vh;
}

body {
  background-image: url("./wallpaper.jpg");
  // Background image sourced from https://wallha.com/wallpaper/sky-blue-clouds-flowers-painting-663065
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
}

nav {
  color: $bubble-background-color;
  max-width: $content-max-width;
  margin: $margin-default;
  width: $content-width;

  form {
    width: 100%;
    // height: 80px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    h1 {
      font-size: 3rem;
      margin: 0 0 0 1rem;
    }

    #userControlContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;

      #searchInput {
        background-color: $bubble-background-color;
        color: $font-color-primary;
        border-radius: $border-radius-default;
        border: none;
        height: 100%;
        width: 100%;
        padding-left: 1rem;
        margin: $margin-default;
        font-size: 1.5rem;
      }

      button {
        height: inherit;
        max-width: 50px;
        flex: 1;
        border-radius: 5px;
        margin: 0px $margin-default 0px 0px;
        padding: 3px 12px 3px 12px;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $button-color;
        img {
          width: 25px;
          height: auto;
          padding: 0;
          filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(136deg)
            brightness(112%) contrast(112%);
        }
      }
    }

    .toggle-holder {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}

main {
  height: 70vh;
  max-width: $content-max-width;
  width: $content-width;
  margin: $margin-default;
  margin-bottom: $margin-default * 0.5;
  margin-top: 0;
  flex: 1;
  display: grid;
  grid-template-columns: [first] 1fr [second] $gap-size [third] 1fr [fourth] $gap-size [fifth] 1fr [sixth];
  grid-template-rows: [first] 1fr [second] $gap-size [third] 1fr [fourth] $gap-size [fifth] 1fr [sixth];
  grid-template-areas:
    "primary primary primary . secondary"
    "primary primary primary . secondary"
    "primary primary primary . secondary"
    ". . . . secondary"
    "tertiary tertiary tertiary.  secondary";

  .bubble {
    // background-color: $bubble-background-color;
    // border-radius: $border-radius-default;
    // box-shadow: 4px 4px 8px;
    // opacity: 0.95;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  #primaryWeather {
    grid-area: primary;
    padding: $padding-default;
    display: grid;
    grid-template-columns: [first] 60% [second] 40% [third];
    grid-template-rows: [first] 1fr [second] 1fr [third] 1fr [fourth];
    grid-template-areas:
      ". weatherIcon"
      "temperature weatherIcon"
      "weatherDetails weatherDetails";

    h2 {
      font-size: 2rem;
    }

    #titleTime {
      grid-area: first / first / second / third;

      #locationTitle {
        padding: 1%;
        margin: 0;
      }

      #locationTime {
        font-weight: $secondary-font-weight;
        margin: 0;
        padding: 1%;
      }
    }

    #temperature {
      grid-area: temperature;
      font-size: 5rem;
      margin: 0;
      font-weight: $primary-font-weight;
    }

    #weatherIconHolder {
      grid-area: weatherIcon;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      #weatherIcon {
        height: 100%;
      }
    }

    #weatherDetails {
      grid-area: weatherDetails;

      div {
        display: flex;
        justify-content: space-between;
      }

      .weatherDetail {
        font-weight: $secondary-font-weight;
        padding: 1%;
        margin: 0;
      }
    }
  }

  #secondaryWeather {
    grid-area: secondary;
    padding-top: 1vw;
    padding-left: $padding-default;
    padding-right: $padding-default;
    overflow: scroll;
    display: grid;
    grid-template-columns: [first] 1fr [second];
    grid-template-rows: [first] 1fr [second] 1fr [third] 1fr[fourth] 1fr [fifth] 1fr [sixth] 1fr [seventh];
    grid-template-areas: "first" "second" "third" "fourth" "fifth" "sixth";

    .dailyForecast {
      height: 10vh;
      overflow: hidden;
      display: grid;
      grid-template-columns: [first] 70% [second] 30% [third];
      grid-template-rows: [first] 1fr [second] 1fr [third] 1fr [fourth];
      grid-template-areas:
        "day icon"
        "highLow icon"
        "conditions rain";
      position: relative;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 1vw;
      padding-top: 1vw;

      .day {
        grid-area: day;
      }

      .forecast-conditions {
        grid-area: conditions;
      }

      .forecast-rain {
        grid-area: rain;
        img {
          display: inline-block;
        }
      }

      .forecastIcon {
        grid-area: icon;
        height: 120%;
        position: absolute;
        bottom: 1vh;
      }

      .forecast-highLow {
        grid-area: highLow;
      }

      h2,
      h3 {
        padding: 0;
        margin: 0;
      }

      h3 {
        font-weight: $secondary-font-weight;
      }
    }
  }

  #tertiaryWeather {
    padding-left: $padding-default;
    padding-right: $padding-default;
    padding-top: 1vw;
    padding-bottom: 1vw;
    grid-area: tertiary;
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth];
    grid-template-rows: [first] 1fr [second];
    grid-template-areas: "assorted moon sun";

    #assorted-weather {
      grid-area: assorted;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: larger;
        font-weight: $secondary-font-weight;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 0.5vh;
        padding-top: 0.5vh;

        img {
          display: inline-block;
          max-width: 1.5vw;
        }

        .detailTitle {
          margin-left: 1vw;
        }

        .weatherDetail {
          margin-left: auto;
        }
      }

      #dew {
        border-bottom: none;
      }
    }

    #moon {
      grid-area: moon;
    }

    #sun {
      grid-area: sun;
    }
  }
}

footer {
  padding: 0;
  margin: 0;
  max-height: 10vh;
  max-width: $content-max-width;
  width: $content-width;
  display: flex;
  justify-content: flex-end;
  button {
    background: none;

    border: none;
    cursor: pointer;
    width: 40px;
    height: auto;
    margin: 0 $margin-default (0.5 * $margin-default) 0;
    padding: 0;

    img {
      width: 100%;
      filter: invert(87%) sepia(16%) saturate(73%) hue-rotate(140deg)
        brightness(109%) contrast(90%) opacity(0.7);
    }
  }
}
